@page "/"

<AuthorizeView>

    <NotAuthorized>
        <h1>Welcome to tweet22</h1>
        <Login></Login>
    </NotAuthorized>

    <Authorized>
        <h1>Hi, @context.User.Identity.Name Welcome back!</h1>
        Let's admin <a href="army">your beloved army.</a>
    </Authorized>
</AuthorizeView>


@*<SurveyPrompt Title="How is Blazor working for you?" />*@

