@inject IBananaService BananaService
@implements IDisposable

<div class="top-menu">
    <img src="img/icons/324830-34px.png" />
    <span class="popover-header">
        @BananaService.Bananas
    </span>
    <AddBananas/>
</div>


@code {
    //[Parameter]
    //public int Bananas { get; set; } = 100;

    protected override void OnInitialized()
    {
        BananaService.OnChange += StateHasChanged;
    }

    //public void AddBananas(int value)
    //{
    //    Bananas += value;
    //}

    public void Dispose()
    {
        BananaService.OnChange -= StateHasChanged;
    }
}

