@inject IBananaService BananaService
@implements IDisposable

    <AuthorizeView>
        <Authorized>
            <div class="top-menu">
                <img src="img/icons/324830-34px.png" />
                <span class="popover-header">
                    @BananaService.Bananas
                </span>
            </div>
        </Authorized>

        <NotAuthorized>
            <div class="top-menu-right">
                <NavLink href="login">Login</NavLink> |
                <NavLink href="register">Register</NavLink>
            </div>
        </NotAuthorized>
    </AuthorizeView>

    @code {
        //[Parameter]
        //public int Bananas { get; set; } = 100;

        protected override void OnInitialized()
        {
            BananaService.OnChange += StateHasChanged;
        }

        //public void AddBananas(int value)
        //{
        //    Bananas += value;
        //}

        public void Dispose()
        {
            BananaService.OnChange -= StateHasChanged;
        }
    }

